/* Estilos para el header */
header {
    background-color: #212438; /* Cambia el color de fondo */
    padding: 1rem 0; /* Aumenta el padding vertical para hacer el header más largo */
}

.navbar-brand {
    font-size: 1.5rem; /* Aumenta el tamaño de la letra */
    color: #ffffff; /* Cambia el color de la letra a blanco */
}

.navbar-brand:hover {
    color: #dddddd; /* Cambia el color al pasar el ratón */
}

.navbar-text {
    color: #ffffff; /* Cambia el color del texto del usuario a blanco */
}

.btn-outline-danger {
    color: #ffffff; /* Cambia el color del texto del botón "Salir" a blanco */
    border-color: #ffffff; /* Cambia el color del borde del botón a blanco */
}

.btn-outline-danger:hover {
    background-color: #ffffff; /* Cambia el fondo al pasar el ratón */
    color: #212438; /* Cambia el color del texto al pasar el ratón */
}

.item-student {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-image: url('../images/fondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
}

.header h1 {
    font-size: 3rem; 
    margin: 0; 
    color: white; 
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
}

.navbar {
    background: transparent; 
    position: relative; 
}

.header p {
    color: white; 
    z-index: 1; 
    position: relative; 
    padding: 20px; 
}

.btn-login {
    position: absolute;
    right: 15px; /* Ajusta la posición horizontal del botón */
    top: 15px; /* Ajusta la posición vertical del botón */
    z-index: 2; /* Asegura que el botón esté por encima del fondo */
}

.btn-pink {
    background-color: pink; /* Cambiar color del botón a rosa */
    color: rgb(175, 65, 83); /* Cambiar color del texto del botón a blanco */
    border: none; /* Eliminar borde del botón */
}

.btn-pink:hover {
    background-color: lightcoral; /* Color al pasar el ratón */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

main {
    flex: 1; /* Permite que el main ocupe el espacio disponible */
}

.footer {
    height: 100px; /* Altura fija */
    padding: 10px; /* Mantener el padding que ya tienes */
    background-color: #212438; /* Color de fondo oscuro */
    color: azure; /* Color del texto */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
}

.footer h4 {
    margin-bottom: 5px; /* Ajustar el margen inferior del h4 */
}

.footer p {
    margin-bottom: 0; /* Eliminar el margen inferior del párrafo */
    line-height: 1.2; /* Ajustar la altura de línea para que el texto se vea más compacto */
}
